 .card img {
    display: block;
    margin: 0 auto;
  }
  
  .card {
    display: inline-block;
    width: 600px;
    padding: 20px;
    background-color: rgb(196, 156, 108);
    margin: 10px;
  }
  
  .card-body {
    margin-top: 10px;
  }
  
  .col-lg-6,
  .col-md-6,
  .col-sm-12 {
    text-align: center;
    padding: 0;
  }
  
  @media screen and (max-width: 767px) {
    .col-lg-6,
    .col-md-6,
    .col-sm-12 {
      margin-bottom: 20px;
    }
    .card {
      width: 80%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .col-lg-6,
    .col-md-6,
    .col-sm-12 {
      margin: auto;
      float: none;
      display: table-cell;
      vertical-align: middle;
    }
    .card {
      width: 80%;
    }
  }
  