
#myOrders{
  background:rgb(165, 133, 94);
  height: 100vh;
  padding-top: 20px;
}

.order-card {
  display: flex;
  align-items: left;
  background-color: rgb(223, 200, 162);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-family: Arial, sans-serif;
  margin: 0 auto 35px;
  padding: 20px;
  max-width: 90%;
}

.order-card-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.order-card-info {
  flex: 1;
}

.order-card-info h3 {
  margin-top: 0;
  font-weight: bold;
}
#quantity {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0px;
}

#price {
  margin-top: 0px;
  font-weight: bold;
  font-size: 1.0em;
}
.order-card-info p {
  margin-top: 0px;
}


